name: Download and Commit

on:
  workflow_dispatch: 
  schedule:
    - cron: '0 0 * * 0'  # Run every Sunday at midnight (UTC)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: get reduced database dump for ci integration
      run: |
        set -euo pipefail
        wget -q -O - https://cdn.thegamesdb.net/json/database-latest.json |
        jq -c '.data.games |= map(select(.platform == 4)) | .data.games |= .[0:5] | .data.count = (.data.games | length) | .include.boxart.data |= with_entries(select(.key | IN("1260", "1726","1727","1728","2305")))' > database-reduced.json
        
    - name: Run Bash Script
      env:
        API_KEY: ${{ secrets.API_KEY }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ./tgdb_devpubgen.sh
